.myNav{
    background-color: #1d3557d3;
}

.logoImg{
    width: 140px;
    height: 45px;
}

.myNav a{
   color: white;
   position: relative;
   text-decoration: none;
}

.navbar .myLink::after {
    content: ''; 
    position: absolute; 
    width: 100%; 
    height: 2px; 
    bottom: -3px; 
    left: 0; 
    background-color: transparent; 
    transition: all 0.3s ease; 
}

.navbar .myLink:hover::after {
    width: calc(100% + 5px); 
    background-color: #E63946; 
}

.navbar a:hover {
    text-decoration: none; 
    color: white; 
}

.btnFooter{
    background-color: #77ABBD;
    color: #1D3557;
    width: 100px;
}

.btnFooter:hover{
    background-color: #EC9A9A;
}

.myFooter{
    background-color: #457B9D;
    margin-bottom: 0;
}

.footer-link{
    color: #1D3557;
    list-style: none;
}

.footer-link:hover{
    color: #EC9A9A;
}

.hero{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(https://cdn.pixabay.com/photo/2014/08/31/10/03/theater-432045_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.heroText{
    position: absolute;
    top: 42%;
    left: 27%;
    text-align: center;
    width: 45vw;
    height: 28vh;
    background-color: #e6394700;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.heroText h2{
    color: #F1FAEE;
}

.heroP{
    color: #F1FAEE;
}

.btnHero{
    width: 120px;
    background-color: #77ABBD;
    color: white;
}

.btnHero:hover{
    background-color: #EC9A9A;
}

.body{
    background-color: #457b9d6f;
}


#header{
    text-align: center!important;
    color: #1D3557!important;
}

.myCard{
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainCard{
    height: 300px;
    padding-top: 12px;
}

.myCard p{
    color: rgba(0, 0, 0, 0.795);
}

.address{
    height: 36px;
}

.title{
    color: #1D3557;
    text-decoration: none;
    position: relative;
    text-align: center;
}

.title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: transparent;
    transition: all 0.3s ease;
}

.title:hover {
    text-decoration: none; 
    color: #1D3557; 
}

.title:hover::after {
    width: calc(100% + 10px);
    background-color: #E63946;
}

.imageContainer{
    position: relative;
    width: 100%;
}


.myCardImg{
    width: 100%;
    height: 240px;
    object-fit: cover;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.imageContainer:hover .myCardImg {
    opacity: 0.8;
}

.imageContainer:hover .middle {
    opacity: 1;
}

.more{
    text-decoration: none;
    background-color: #1D3557;
    color: #F1FAEE;
    font-size: 22px;
    padding: 12px 24px;
    text-align: center;
}


.website{
    color: #1D3557;
    text-decoration: none;
    position: relative;
}

.website::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: transparent;
    transition: all 0.3s ease;
}

.website:hover {
    text-decoration: none; 
    color: #1D3557; 
}

.website:hover::after {
    width: calc(100% + 5px);
    background-color: #E63946;
}

.btnEdit{
    width: 80px;
    padding: 6px 12px;
    background-color: #457B9D;
    color: #F1FAEE;
}

.btnEdit:hover{
    background-color: #77ABBD;
    color: #F1FAEE;
}

.btnDelete{
    width: 80px;
    padding: 6px 12px;
    background-color: #D13440;
    color: #F1FAEE;
}

.btnDelete:hover{
    background-color: #e63947b9;
    color: #F1FAEE;
}