<nav class="footer myFooter">
    <div class="container-fluid pt-3">
      <div class="links mb-2">
            <a class="footer-link text-decoration-none" aria-current="page" href="/">Events</a>
            <a class="footer-link text-decoration-none" href="{{ path('app_events_new') }}">Add an event</a>
      </div>
      <div class="copyright mt-3 text-center">
        <p class="pb-3 mb-0">&copy; 2023 VIVID LLC</p>
      </div>
    </div>
  </nav>