<div class="hero">
    <div class="heroText">
        <h2>VIVID</h2>
        <h5 class="fst-italic fw-semibold heroP">Explore the world from a brighter side</h5>
        <button class="btn btnHero my-2" type="submit"><a href="../events/events.html.twig#header"></a>Let's go!</button>
    </div>
</div>