<div class="hero">
    <div class="heroText">
        <h2>VIVID</h2>
        <h5 class="fst-italic fw-semibold heroP">Explore the world from a brighter side</h5>
        <a class="btn btnHero my-2" href="/#header">Let's go!</a>
    </div>
</div>