{% extends 'base.html.twig' %}

{% block title %}New event{% endblock %}

{% block body %}
<div class="body">
    <div class="container pb-5">

        <a href="{{ path('app_events_index') }}" class="btn btnBack my-5">Back</a>
        
        <h2 class="pb-5 headers">Create new event</h2>

        {{ include('events/_form.html.twig') }}

    </div>
</div>
    
{% endblock %}
